salesforce/force-app/main/default/flows/Update_Contact_Profile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Updates profile fields on a Contact record. The agent planner extracts values from conversation and passes them as inputs. Only non-empty inputs are written.</description>
    <interviewLabel>Update Contact Profile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Profile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_ContactId</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- Input Variables -->
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>The Salesforce Contact record ID to update</description>
    </variables>
    <variables>
        <name>industry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Industry vertical (e.g. Utility Scale Solar, Wind Farm Developer)</description>
    </variables>
    <variables>
        <name>primaryApplications</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Semicolon-separated primary applications (e.g. utility-scale solar;residential)</description>
    </variables>
    <variables>
        <name>certifications</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Semicolon-separated required certifications (e.g. IEC;UL;MCS)</description>
    </variables>
    <variables>
        <name>annualVolume</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Annual procurement volume tier</description>
    </variables>
    <variables>
        <name>preferredBrands</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Semicolon-separated preferred equipment brands</description>
    </variables>
    <variables>
        <name>sustainabilityGoals</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Sustainability goals or requirements</description>
    </variables>
    <variables>
        <name>projectPipeline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Project pipeline or upcoming needs</description>
    </variables>
    <variables>
        <name>gridInterconnection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Grid interconnection requirements or status</description>
    </variables>
    <variables>
        <name>siteConditions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Site conditions (e.g. high wind zone, coastal, desert)</description>
    </variables>

    <!-- Output Variables -->
    <variables>
        <name>outputSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value><booleanValue>false</booleanValue></value>
    </variables>
    <variables>
        <name>outputError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputFieldsUpdated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <description>Comma-separated list of field names that were updated</description>
    </variables>

    <!-- Decision: Check if contactId is provided (guard for anonymous users) -->
    <decisions>
        <name>Check_ContactId</name>
        <label>Check ContactId</label>
        <locationX>176</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has ContactId</defaultConnectorLabel>
        <rules>
            <name>No_ContactId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Skipped</targetReference>
            </connector>
            <label>No ContactId</label>
        </rules>
    </decisions>

    <!-- Skip Assignment for anonymous users -->
    <assignments>
        <name>Set_Skipped</name>
        <label>Set Skipped</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>false</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputError</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Skipped: No contactId provided (anonymous user)</stringValue></value>
        </assignmentItems>
    </assignments>

    <!-- Update Record -->
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>contactId</elementReference></value>
        </filters>
        <inputAssignments>
            <field>Industry__c</field>
            <value><elementReference>industry</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Applications__c</field>
            <value><elementReference>primaryApplications</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Certifications__c</field>
            <value><elementReference>certifications</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_Volume__c</field>
            <value><elementReference>annualVolume</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Brands__c</field>
            <value><elementReference>preferredBrands</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Sustainability_Goals__c</field>
            <value><elementReference>sustainabilityGoals</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Pipeline__c</field>
            <value><elementReference>projectPipeline</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Grid_Interconnection__c</field>
            <value><elementReference>gridInterconnection</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Conditions__c</field>
            <value><elementReference>siteConditions</elementReference></value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>

    <!-- Success Assignment -->
    <assignments>
        <name>Set_Success</name>
        <label>Set Success</label>
        <locationX>300</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>true</booleanValue></value>
        </assignmentItems>
    </assignments>

    <!-- Error Assignment -->
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>500</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>false</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputError</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>$Flow.FaultMessage</elementReference></value>
        </assignmentItems>
    </assignments>
</Flow>
